*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    font-family: 'DM Sans',sans-serif;
}
body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2B1887;
   padding: 1rem;
}
.container{
    width: 700px;
    padding: 24px;
    border-radius: 16px;
    background-color: #d5ccff;
}
.card-header-to-do{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}
.card-header-to-dos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 24px 0;
}
.alert{
    width: 100%;
    border: 1px solid #2B1887;
    border-radius: 30px;
    padding: 15px;
    color: #2B1887;
}
.alert-danger{
    background-color: rgba(255, 0, 0, 0.3);
}
.alert-success{
    background-color: rgba(0, 128, 0, 0.3);
}
.card-header-to-dos img{
    width: 30px;
}
.card-header-to-do img{
    width: 30px;
}
.card-title{
    font-weight: 700;
    color: #2B1887;
}
.form-control{
    border-style: none;
    margin-bottom: 30px;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding: 0 30px;
}
.form-control:placeholder-shown{
    font-size: 16px;
    padding: 0 30px;
}
.form-control:focus{
    padding: 0 30px;
    border: 2px solid #2B1887;
}
.add-btn{
    margin-bottom: 30px;
    width: 200px;
    height: 30px;
    border: 1px solid #2B1887;
    cursor: pointer;
    font-family: 'DM Sans',sans-serif;
    border-radius: 16px;
    background-color: #d5ccff;
    color: #2B1887;
    font-size: 16px;
}
.add-btn:hover{
    background-color: #2B1887;
    color: #fff;
}
.list-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    width: 100%;
    border: 1px solid #2B1887;
    border-radius: 25px;
    padding: 15px;
    color: #2B1887;
}

#clear-todos{
    text-align: center;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    border: 1px solid #2B1887;
    border-radius: 15px;
    padding: 3px;
}
#clear-todos:hover{
    background-color: #2B1887;
    color: #fff;
}

@media (max-width: 220px){
    .add-btn, #clear-todos{
        width: 100px;
        height: 100%;
        padding: 10px;
    }
}